.stApp {
    background-color: #343a40;
}

h1 {
    color: #1f77b4;
    text-align: center;
}

.info-box {
    background-color: #e3f2fd;
    border-left: 5px solid #2196f3;
    padding: 15px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
}